<section class="bg-info p-2">
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label class="font-weight-bold" for="post-title">Title</label>
            <input class="border-primary" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label class="font-weight-bold" for="post-text">Text</label>
            <input class="border-primary" id="post-text" name="post-text" />
        </div>
        <button class="rounded border-primary" type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            {{user.username}} on {{format_date created_at}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>